.features-card-ctnr {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.features-card {
  padding: 20px;
  width: 70%;
  border-bottom: 1px solid var(--primary-4);
}

.features-card-header {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-2);
}
.features-card-desc-ctnr {
  padding: 10px;
  display: grid;
  grid-template-columns: auto 40%;
}
.features-card-desc {
  padding: 0px 20px;
}

.features-list {
  border-left: 1px solid var(--primary-4);
  padding: 0px 20px;
}
.features-card-subheader {
  font-size: 18px;
  font-weight: 600;
}

.features-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-card-img span {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: black;
}
