.v-ctnr {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  overflow: auto;
}

.v-title {
  min-width: 60%;
  background-color: var(--primary-4);
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--primary-9);
  font-size: var(--title-font);
  position: relative;
}

.v-func {
  position: absolute;
  right: 20px;
  top: 50%;
  display: flex;
  gap: 10px;
  transform: translate(0%, -50%);
}
.v-search {
  padding: 5px 10px;
  font-size: var(--input-font);
  border-radius: 10px;
  outline: 0;
  border: 0;
}
.v-btn {
  font-size: var(--input-font);
  border: 2px solid var(--primary-9);
  border-radius: 5px;
  color: var(--primary-9);
  padding: 10px 15px;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}
.v-btn:hover {
  background-color: var(--primary-5);
}

.v-data-ctnr {
  width: 60%;
  padding: 20px;
  display: flex;
}

.v-data {
  width: 100%;
  display: flex;
}

.v-data-table {
  display: flex;
  max-height: 80vh;
  width: 100%;
  text-align: center;
  border-collapse: separate;
  overflow: auto;
}

.v-data-table tbody {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--primary-4);
  border-radius: 10px;
  overflow: auto;
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 0;
}

.v-table-header {
  background-color: var(--primary-5);
  font-size: var(--label-font);
  color: var(--primary-9);
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 1;
}

.v-data-table tbody tr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  border-bottom: 1px solid var(--gray-30);
}

.v-table-rows {
  font-size: var(--body-font);
}

.v-link {
  color: var(--primary-4);
}
.v-link:hover {
  color: var(--primary-5);
}

/* No Data */
.v-no-data-ctnr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--primary-9);
  border: 1px solid var(--gray-30);
  border-radius: 10px;
}
.v-no-data {
  width: max-content;
  font-size: var(--form-title-font);
}
